# Pivot Tables in Pandas 

In pandas, a pivot table is a data processing tool that allows you to reshape and summarize data in a tabular format. It is a way of transforming and restructuring a DataFrame to provide a different perspective on the data. The primary function for creating pivot tables in pandas is `pd.pivot_table()`.

**Key Components of a Pivot Table:**
- **Index:** The rows in the pivot table are defined by one or more columns from the original DataFrame, referred to as the index.
- **Columns:** The columns in the pivot table are defined by values in a specific column (or columns) from the original DataFrame.
- **Values:** The values in the cells of the pivot table are determined by a specified aggregation function applied to a particular column from the original DataFrame.


**Why Pivot Tables are Useful:**

1. **Data Summarization:** Pivot tables allow you to summarize and aggregate data, providing a compact and more understandable representation of complex datasets.

2. **Restructuring Data:** They help in transforming and restructuring data to facilitate easier analysis and visualization.

3. **Multidimensional Analysis:** Pivot tables enable you to analyze data across multiple dimensions, making it easier to identify patterns and trends.

4. **Data Exploration:** They provide a dynamic way to explore data, allowing users to quickly change the arrangement of rows and columns to view different aspects of the dataset.

5. **Reporting:** Pivot tables are commonly used in generating reports, as they can present data in a format that is easy to read and interpret.

In summary, pivot tables in pandas are a powerful tool for reshaping, summarizing, and analyzing data, making it easier for data analysts and scientists to derive insights from complex datasets.

## Objective: <br>
Transform real-world data into a structured dataset.

## Data Source: <br>

Utilizing real-world data from `data.worldbank.org` regarding Water Stress in countries from the mid-20th century to the present. Our objective is to streamline the complex data structure through the application of `pd.pivot_table()`.

In [12]:
'''                     Read the Original Data File
'''
import pandas as pd
data = pd.read_csv('Data_water_stress.csv', index_col=0)
print ('Shape of the Original Dataset : ',data.shape)
data.head(10)

Shape of the Original Dataset :  (778017, 8)

,Country,Year,Variable,M49,Unit,Symbol,Symbol_Description,Value
0,Luxembourg,1965,Long-term average annual precipitation in volume,442,10^9 m3/year,,"Official value, data come from one national so...",2.415
1,Turkey,1965,Long-term average annual precipitation in depth,792,mm/year,,"Official value, data come from one national so...",593.000
2,Ecuador,1965,Long-term average annual precipitation in depth,218,mm/year,,"Official value, data come from one national so...",2274.000
3,Fiji,1965,Long-term average annual precipitation in depth,242,mm/year,,"Official value, data come from one national so...",2592.000
4,Congo,1965,Groundwater produced internally,178,10^9 m3/year,,"Official value, data come from one national so...",122.000
5,Mexico,1965,Groundwater produced internally,484,10^9 m3/year,,"Official value, data come from one national so...",150.000
6,Denmark,1965,Groundwater produced internally,208,10^9 m3/year,,"Official value, data come from one national so...",4.300
7,United States of America,1965,Groundwater produced internally,840,10^9 m3/year,,"Official value, data come from one national so...",1383.000
8,Namibia,1965,Groundwater produced internally,516,10^9 m3/year,,"Official value, data come from one national so...",2.100
9,Mongolia,1965,Groundwater produced internally,496,10^9 m3/year,,"Official value, data come from one national so...",6.100

#### Discussion:

Observing the original dataset, it encompasses 8 attributes: `Country, Year, Variable, M49, Unit, Symbol, Symbol_Description, Value`. Each row signifies the `Value` of a unique `Variable` for each `Year` in a specific `Country`. The dataset's intricacy lies in consolidating all Water Stress-defining Variables into a single column.

The dataset features over 180 unique variables crucial for comprehending global Water conditions. However, organizing this dataset is a formidable task. The subsequent discussion delves into employing a Pivot table to address this complexity.

In [17]:
'''                     Uniques attributes in the column "Variable"
'''

print ('The Number of Unique attributes in the column "Variable" is : ', len(data['Variable'].unique()),'\n','\n')
print ('The Unique attributes in the column "Variable" are : \n', data['Variable'].unique())

The Number of Unique attributes in the column "Variable" is :  186


The Unique attributes in the column "Variable" are :
 ['Long-term average annual precipitation in volume'
 'Long-term average annual precipitation in depth'
 'Groundwater produced internally' 'Surface water produced internally'
 'Overlap between surface water and groundwater'
 'Total internal renewable water resources (IRWR)'
 'Surface water: entering the country (total)'
 'Surface water: inflow not submitted to treaties'
 'Surface water: inflow submitted to treaties'
 'Surface water: inflow secured through treaties'
 'Surface water: total flow of border rivers'
 'Surface water: accounted flow of border rivers'
 'Surface water: leaving the country to other countries (total)'
 'Surface water: outflow to other countries not submitted to treaties'
 'Surface water: outflow to other countries submitted to treaties'
 'Surface water: outflow to other countries secured through treaties'
 'Groundwater: entering the country (total)'
 'Groundwater: leaving the country to other countries (total)'
 'Dependency ratio' 'Exploitable: regular renewable surface water'
 'Exploitable: irregular renewable surface water'
 'Exploitable: regular renewable groundwater'
 'Total exploitable water resources' 'Total dam capacity'
 'Agricultural water withdrawal' 'Irrigation potential'
 'Area equipped for full control irrigation: surface irrigation'
 'Groundwater: accounted inflow'
 'Groundwater: accounted outflow to other countries'
 'Total area of the country (excl. coastal water)' 'Permanent crops area'
 'Population density'
 'Total internal renewable water resources per capita'
 'Surface water: accounted inflow'
 'Surface water: total external renewable'
 'Water resources: total external renewable'
 'Total renewable surface water' 'Total renewable groundwater'
 'Total renewable water resources'
 'Total renewable water resources per capita'
 'Total water withdrawal per capita'
 'Agricultural water withdrawal as % of total renewable water resources'
 'MDG 7.5. Freshwater withdrawal as % of total renewable water resources'
 '% of agricultural water managed area equipped for irrigation'
 '% of the cultivated area equipped for irrigation'
 'Irrigated cropping intensity' '% of total country area cultivated'
 'Dam capacity per capita' 'Exploitable: total renewable surface water'
 'Overlap: between surface water and groundwater'
 '% of agricultural GVA produced by irrigated agriculture'
 '% of cultivated land irrigated'
 'Area equipped for full control irrigation: total'
 '% of irrigation potential equipped for irrigation'
 'Total harvested irrigated crop area (full control irrigation)'
 '% of area equipped for full control irrigation actually irrigated'
 'National Rainfall Index (NRI)'
 'Treated municipal wastewater discharged (secondary water)'
 'SDG 6.4.2. Water Stress' 'Arable land area'
 'Cultivated area (arable land + permanent crops)' 'Total population'
 'Rural population' 'Urban population' 'Gross Domestic Product (GDP)'
 'Agriculture, value added (% GDP)' 'Industry, value added to GDP'
 'Services, value added to GDP' 'Agriculture, value added to GDP'
 'Environmental Flow Requirements' 'Municipal water withdrawal'
 'Industrial water withdrawal' 'Total water withdrawal'
 'Treated municipal wastewater'
 'Area equipped for full control irrigation: localized irrigation'
 'Harvested irrigated temporary crop area: Rice'
 'Harvested irrigated temporary crop area: Cotton'
 'Agricultural water withdrawal as % of total water withdrawal'
 'Municipal water withdrawal as % of total withdrawal'
 'Industrial water withdrawal as % of total water withdrawal'
 'Total freshwater withdrawal' 'Total agricultural water managed area'
 'Not treated municipal wastewater'
 'Direct use of treated municipal wastewater'
 'SDG 6.4.1. Industrial Water Use Efficiency'
 'SDG 6.4.1. Services Water Use Efficiency'
 'Fresh surface water withdrawal' 'Area equipped for irrigation: total'
 'Area equipped for irrigation: actually irrigated'
 'Area equipped for irrigation by groundwater'
 'Harvested irrigated temporary crop area: Leguminous crops'
 'Area salinized by irrigation' 'Fresh groundwater withdrawal'
 'GDP per capita' 'Irrigation water withdrawal'
 'Produced municipal wastewater'
 'Area equipped for irrigation by surface water'
 'Harvested irrigated temporary crop area: Wheat'
 'Harvested irrigated temporary crop area: Maize'
 'Harvested irrigated temporary crop area: Sugarcane'
 'Harvested irrigated temporary crop area: Flowers'
 'Harvested irrigated permanent crop area: Other crops'
 'Desalinated water produced' '% of total cultivated area drained'
 'SDG 6.4.1. Irrigated Agriculture Water Use Efficiency'
 '% of area equipped for irrigation by groundwater '
 '% of the area equipped for irrigation actually irrigated'
 'Area waterlogged by irrigation'
 'Water withdrawal for cooling of thermoelectric plants'
 'Area equipped for full control irrigation: actually irrigated'
 'Capacity of the municipal wastewater treatment facilities'
 'Area equipped for full control irrigation: sprinkler irrigation'
 'Area equipped for irrigation by mixed surface water and groundwater'
 '% of area equipped for irrigation by surface water'
 '% of area equipped for irrigation by mixed surface water and groundwater'
 'Area equipped for power irrigation (surface water or groundwater)'
 '% of total grain production irrigated'
 'Harvested irrigated temporary crop area: Vegetables'
 'Harvested irrigated temporary crop area: Fodder'
 'Population affected by water related disease'
 'Collected municipal wastewater'
 'Not treated municipal wastewater discharged (secondary water)'
 'Harvested irrigated temporary crop area: Total'
 'Harvested irrigated permanent crop area: Total'
 'Total cultivated area drained'
 '% of area equipped for irrigation power irrigated'
 'Harvested irrigated temporary crop area: Other cereals'
 '% of area equipped for irrigation salinized'
 '% of area equipped for irrigation drained'
 '% of area equipped for irrigation by direct use of  treated municipal wastewater'
 'Harvested irrigated permanent crop area: Grass and Fodder'
 'SDG 6.4.1. Water Use Efficiency' 'Irrigation water requirement'
 'Area equipped for irrigation drained'
 'Non-irrigated cultivated area drained'
 'Area equipped for irrigation: equipped lowland areas'
 'Flood recession cropping area non-equipped'
 'Cultivated wetlands and inland valley bottoms non-equipped'
 'Area equipped for irrigation: spate irrigation'
 'Harvested irrigated temporary crop area: Barley'
 'Harvested irrigated temporary crop area: Potatoes'
 'Harvested irrigated temporary crop area: Other roots and tubers'
 'Harvested irrigated temporary crop area: Sugar beet'
 'Harvested irrigated permanent crop area: Bananas'
 'Harvested irrigated permanent crop area: Cocoa beans'
 'Harvested irrigated permanent crop area: Oil palm'
 'Harvested irrigated temporary crop area: Soybeans'
 'Harvested irrigated temporary crop area: Sunflower'
 'Harvested irrigated temporary crop area: Other crops'
 'Area equipped for irrigation by direct use of treated municipal wastewater'
 'Permanent meadows and pastures irrigated'
 'Water withdrawal for aquaculture'
 'Area equipped for irrigation by direct use of non-treated municipal wastewater '
 'Harvested irrigated permanent crop area: Grapes'
 'Area equipped for irrigation by direct use of not treated municipal wastewater'
 '% of the area equipped for irrigation managed by women'
 'Total population with access to safe drinking-water (JMP)'
 'Rural population with access to safe drinking-water (JMP)'
 'Urban population with access to safe drinking-water (JMP)'
 'Harvested irrigated permanent crop area: Citrus'
 'Number of people undernourished (3-year average)'
 'Prevalence of undernourishment (3-year average)'
 'Harvested irrigated temporary crop area: Sweet potatoes'
 'Harvested irrigated temporary crop area: Cassava'
 'Harvested irrigated permanent crop area: Coffee'
 'Harvested irrigated temporary crop area: Tobacco'
 'Direct use of agricultural drainage water'
 '% of the agricultural holdings with irrigation managed by women'
 'Direct use of treated municipal wastewater for irrigation purposes'
 'Harvested irrigated temporary crop area: Sorghum'
 '% of area equipped for irrigation by direct use of non-treated municipal wastewater'
 'Harvested irrigated temporary crop area: Millet'
 'Harvested irrigated permanent crop area: Plantains'
 'Harvested irrigated permanent crop area: Tea'
 'Harvested irrigated temporary crop area: Groundnuts'
 'Water withdrawal for livestock (watering and cleaning)'
 'Direct use of not treated municipal wastewater for irrigation purposes'
 'Harvested irrigated permanent crop area: Other fruits'
 'Harvested irrigated permanent crop area: Olives'
 'Harvested irrigated permanent crop area: Coconuts'
 'Harvested irrigated permanent crop area: Rubber'
 'Harvested irrigated temporary crop area: Sesame'
 'Area equipped for irrigation by desalinated water'
 '% of area equipped for irrigation by desalinated water'
 '% of area equipped for irrigation by direct use of agricultural drainage water '
 'Area equipped for irrigation by direct use of agricultural drainage water']

#### Opinion:

The utilization of a Pivot table for restructuring such intricate datasets is a prudent approach. It not only simplifies the representation of data but also enables dynamic exploration and analysis. Pivot tables are invaluable tools for data scientists, providing an effective means to glean insights from multifaceted datasets.

## Task - Read-Select-Execute-Add <br>

The task is divided into four distinct steps:

**Read:** Demonstrates the process of reading the original CSV file.

**Select:** Guides you through the selection of specific variables of interest from the pool of 186 variables.

**Execute:** Involves the application of `pd.pivot_table` to the chosen variables.

**Add:** Introduces the addition of a new column named `Class_of_waterstress` based on Water Stress values.

In [19]:
from pylab import *
import pandas as pd
import seaborn as sns
sys.setrecursionlimit(10000)

def extract_data(data):
    data_waterstress = data[(data.Variable == 'SDG 6.4.2. Water Stress') | (data.Variable == 'Total population')
                           | (data.Variable == 'Long-term average annual precipitation in volume')
                           | (data.Variable == 'Total freshwater withdrawal')
                           | (data.Variable == 'Agricultural water withdrawal')
                           | (data.Variable == 'Industrial water withdrawal')]
    df_out = pd.pivot_table(data_waterstress, index=['Year','Country'],columns="Variable", values="Value") #data_waterstress
    return (df_out)

def add_classofwaterstress(df):

    # create a list of our conditions
    conditions = [
        (df['SDG 6.4.2. Water Stress'] > 0.) & (df['SDG 6.4.2. Water Stress'] <= 25.),
        (df['SDG 6.4.2. Water Stress'] > 25.) & (df['SDG 6.4.2. Water Stress'] <= 50.),
        (df['SDG 6.4.2. Water Stress'] > 50.) & (df['SDG 6.4.2. Water Stress'] <= 75.),
        (df['SDG 6.4.2. Water Stress'] > 75.) & (df['SDG 6.4.2. Water Stress'] <= 100.),
        (df['SDG 6.4.2. Water Stress'] > 100.)
        ]

    # create a list of the values we want to assign for each condition
    values = ['0-25% (No-stress)', '25-50% (Low)', '50-75% (Medium)', '75-100% (High)', ' >100% (Critical)']

    # create a new column and use np.select to assign values to it using our lists as arguments
    df['Class_of_waterstress'] = select(conditions, values)
    return(df)

def save_results(results):
    writer = pd.ExcelWriter('pivot_table.xlsx', engine='xlsxwriter')
    results.to_excel(writer,sheet_name='dataframe')
    writer.save()

def uniques(df):
    group = df.groupby('Variable')
    df2 = group.apply(lambda x: x['Unit'].unique())
    writer = pd.ExcelWriter('Unique_variables&Units.xlsx', engine='xlsxwriter')
    df2.to_excel(writer,sheet_name='dataframe')
    writer.save()


if __name__ == "__main__":
    
    data = pd.read_csv('Data_water_stress.csv', index_col=0)
    results = extract_data(data)
    final_form = add_classofwaterstress(results)
    save_results(final_form) 
    uniques(data)

C:\Users\AK traders\AppData\Local\Temp\ipykernel_1564\940136455.py:36: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()
C:\Users\AK traders\AppData\Local\Temp\ipykernel_1564\940136455.py:43: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [22]:
'''                      Outcome Results
'''
print ('Shape of the Outcome Dataframe : ', final_form.shape,'\n\n')
final_form

Shape of the Outcome Dataframe :  (10832, 7)

Variable                                 Agricultural water withdrawal  \
Year Country
1961 Afghanistan                                                   NaN
     Albania                                                       NaN
     Algeria                                                       NaN
     Andorra                                                       NaN
     Angola                                                        NaN
...                                                                ...
2019 Venezuela (Bolivarian Republic of)                       16.71000
     Viet Nam                                                 77.75000
     Yemen                                                     3.23500
     Zambia                                                    1.15200
     Zimbabwe                                                  3.04107

Variable                                 Industrial water withdrawal  \
Year Country
1961 Afghanistan                                                 NaN
     Albania                                                     NaN
     Algeria                                                     NaN
     Andorra                                                     NaN
     Angola                                                      NaN
...                                                              ...
2019 Venezuela (Bolivarian Republic of)                      0.79330
     Viet Nam                                                3.07400
     Yemen                                                   0.06500
     Zambia                                                  0.13000
     Zimbabwe                                                0.08135

Variable                                 Long-term average annual precipitation in volume  \
Year Country
1961 Afghanistan                                                                213.48522
     Albania                                                                     42.69375
     Algeria                                                                    211.97486
     Andorra                                                                          NaN
     Angola                                                                    1259.16700
...                                                                                   ...
2019 Venezuela (Bolivarian Republic of)                                        1864.23020
     Viet Nam                                                                   603.16983
     Yemen                                                                       88.17099
     Zambia                                                                     767.66220
     Zimbabwe                                                                   256.72932

Variable                                 SDG 6.4.2. Water Stress  \
Year Country
1961 Afghanistan                                             NaN
     Albania                                                 NaN
     Algeria                                                 NaN
     Andorra                                                 NaN
     Angola                                                  NaN
...                                                          ...
2019 Venezuela (Bolivarian Republic of)                 7.540367
     Viet Nam                                          18.130315
     Yemen                                            169.761905
     Zambia                                             2.835498
     Zimbabwe                                          35.405370

Variable                                 Total freshwater withdrawal  \
Year Country
1961 Afghanistan                                                 NaN
     Albania                                                     NaN
     Algeria                                                     NaN
     Andorra                                                     NaN
     Angola                                                      NaN
...                                                              ...
2019 Venezuela (Bolivarian Republic of)                     22.62110
     Viet Nam                                               81.86200
     Yemen                                                   3.56500
     Zambia                                                  1.57200
     Zimbabwe                                                3.77138

Variable                                 Total population Class_of_waterstress
Year Country
1961 Afghanistan                                 9169.410                    0
     Albania                                     1685.936                    0
     Algeria                                    11336.339                    0
     Andorra                                       14.375                    0
     Angola                                      5531.472                    0
...                                                   ...                  ...
2019 Venezuela (Bolivarian Republic of)         28515.829    0-25% (No-stress)
     Viet Nam                                   96462.106    0-25% (No-stress)
     Yemen                                      29161.922     >100% (Critical)
     Zambia                                     17861.030    0-25% (No-stress)
     Zimbabwe                                   14645.468         25-50% (Low)

[10832 rows x 7 columns]

## Conlcusion

In this brief project, I curated real-world data on Water Stress and employed `pd.pivot_table()` to restructure the dataset into a more organized format. The resultant dataset now encapsulates crucial variables as attributes, delineating Water Stress for each country in every year.

**Opinion:**
Using `pd.pivot_table()` for such tasks aligns with best practices in data manipulation. It's an efficient method for transforming complex datasets into a more understandable and analyzable structure. The inclusion of a new column, `Class_of_waterstress`, enhances the dataset's utility by providing an additional layer of information.

## Future Work

This transformed dataset holds potential for research purposes. While the current project focused on structural transformation, the dataset could serve as a valuable foundation for future endeavors. Machine Learning applications could leverage this original dataset to delve deeper into understanding the primary causes and parameters influencing water stress. Although beyond the scope of this project, implementation in the near future could unlock further insights.